DATABASE_URL=postgres://xanbox:9835@postgres:password/xanbox?sslmode=disable
TEST_DATABASE_URL=postgres://xanbox:9835@test-postgres:password/test_xanbox?sslmode=disable

POSTGRES_DB=xanbox
TEST_POSTGRES_DB=test_xanbox

POSTGRES_PASSWORD=password

POSTGRES_USER=xanbox